/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Quicksand,sans-serif;
    /* background-color: blue; */
    }


    a {
    text-decoration: none;
    }

    li {
    list-style: none;
    }

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #3751FF;
    /* background-color:white; */
    /* color: #3751FF; */
    width: 100%;
    }

    .nav-links a {
    color: #fff;
    
    }

    /* LOGO
    .im-logo {
    padding-left: 50px;
    } */

    .logo .im-logo{
       margin-left: 20px;
    }


    /* NAVBAR MENU */
    .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    padding-right:160px;
    }

    .menu li:hover {
    background-color: rgb(154, 154, 238);
    /* color: red; */
    border-radius: 5px;
    transition: 0.3s ease;
    text-decoration: none;
    }

    .menu li {
    padding: -90px 5px 5px 5px;
    text-decoration: none;

    }


    input[type=checkbox] {
        display: none;
        }

        /* HAMBURGER MENU */
        .hamburger {
        display: none;
        font-size: 20px;
        user-select: none;
        }

        /* APPLYING MEDIA QUERIES */
        @media (max-width: 768px) {
        .menu {
        display:none;
        position: relative;
        background-color:#3751FF;
        /* background-color: white; */
        /* color: #3751FF; */

        right: 50;
        left: 4;
        text-align: center; 
        margin-left: -69px;
        margin-top: 39px;
        height: 100%;
        width: 30px;
        float:right;
        }

        .navbar{
            color: red;
        }

        .hamburger {
            float: right;
        }

        .menu li{
            color: red;
        }

        .menu li:hover {
        display: inline-block;
        background-color:#F0FFFF;
        transition: 0.3s ease;
        }

        .menu li + li {
        margin-top: 2px;

        }

        input[type=checkbox]:checked ~ .menu {
        display: inline-block;
        }
        .hamburger {
        display: block;
        }


        }

.content{
    padding-left: 50px;
}
.content .text{
    /* position: relative; */
    max-width: 810px;

}

.content .text h1 {
    text-transform: uppercase;
    font-weight: 810;
    margin-top: 80px;
    line-height: 1.4em;
    letter-spacing: .1em;
    font-size: 40px;
    color: white;
}

.content .text h1 span {
    font-size: 45px;

}

.content .text p{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.75em;
    margin-top: 41px;
    color:rgb(232, 234, 238);
}




/* text */
.text{
    color: black;
}


/* Features */
.features {
    background-color: #F0FFFF;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #3751FF;
    padding: 10px;
  }
  .grid-item {
    background-color:#3751FF;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding-left: 50px;
    font-size: 30px;
  }

/* download button */
.d-btn{
    background-color: white;
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px 25px;
    text-align: center;
    border: none;
    outline: none;
    color: #3751FF;
    font-size: 21px;
    font-weight: 600;
    border-radius: 20px;
}

.app-features{
    background-color: #F0FFFF;;
    padding: 50px 50px 50px 50px;
    text-align: center;
}


/* isend */
.isend{
    padding-left: 80px;
}

/* front image */
.img-front{
    margin-top: 70px;
}


/* features */
.features{
    background-color: #F0FFFF;
}

.features .grid-container{
    background:#F0FFFF;
    text-align: center;
}
.features .grid-container .grid-item{
    background-color: #F0FFFF;
    gap: 2em;
}

.features h1{
    font-size: 20px;
    font-weight: 850;
    margin-top: 1em;
}

.features .grid-container .grid-item p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    padding-top: 1em;
}

.features .feat-heading{
    background-color: #F0FFFF;
    font-size: 25px;
    padding:  30px;
}

/* footer */
footer{
    position: relative;
    width: 100%;
    background: #3751FF;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .footer-menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
footer .social_icon li a,
footer .footer-menu li a{
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform:  translateY(-10px);
}


footer .footer-menu li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .footer-menu li a:hover {
    opacity: 1;
}

footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1rem;
}

/* responsive */
/* @media screen and (min-width:250px) and (max-width:480px) {
    .grid-container{
        display: grid;
        grid-template-columns: 100%;
        margin: 0;
    }
    .features{
        display: flex;
    }
    .home .grid-container .grid-item {
        display: grid;
        grid-template-columns: 100%;
        margin: 0;

    }

    .features .grid-container .grid-item h1{
        color: black;
    }
 */

/* } */

/* make the whole page very interactive */
.img-front{
    /* add animation to it */
    animation: animate 4s linear infinite;
}

.main-text{
    /* add animation to it */
    animation: animate 4s linear;
}

@keyframes animate{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}



.card{
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 1s;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    max-height: 400px;
    min-height: 300px;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.card-img-top{
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}